body{
	margin: 0px;
	background-color: black;
	overflow-x: hidden;
}

.font-google{
	font-family: 'Anton', sans-serif;
}
.font-google2{
	font-family: 'Crimson Text', serif;
}
.font-google3{
	font-family: 'Francois One', sans-serif;
}
.font-google4{
	font-family: 'Playfair Display SC', serif;
}
.tirar-ponto{
	list-style: none;

	color: dimgrey;
}
a:hover.hover{
	color: white;
	text-decoration: none;
}
.botaofundo{
	background-color: black;
}
a.texto{
	color: dimgrey;
}
.cima{
	font-size: 25px;
	color:white;
}
.fundo-branco{
	background-color: white;

}
.fundo-cinza{
	background-color: dimgrey;
}
.zoom{
	overflow: hidden;
}
.zoom img{
	max-width: 100%;
	-noz-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	transition: all 0.3s;

}
.zoom:hover img{
	-moz-transform:;
}
#back1{
	background-image: url(image/back.jpg);
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}
#back2{
	background-image: url(image/back2.jpg);
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}
#back3{
	background-image: url(image/back3.png);
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}
#tabela{
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 10%;
	padding-right: 10%;
}
td:hover{
	background:chocolate;
}


